
.container {
    background-color: var(--main_color);
    padding: 40px;
    border-radius: 10px;
    max-width: 800px;  
    display: flex;
    justify-content: space-between;
    align-items: center;  
    gap: 20px;  
}

.profile-section {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.avatar-container img {
    max-width: 250px;  
    max-height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 25px;
}

.change-avatar-button {
    display: inline-block;
    padding: 8px 20px;
    background-color: var(--main_color);
    color: var(--button_color);
    border: 2px solid var(--button_color); 
    border-radius: 5px;
    cursor: pointer;
}

.change-avatar-button:hover {
    background-color: var(--button_color);  
    color: var(--white_color);  
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 60%;  /* Căn phần form chiếm 60% chiều rộng */
    gap: 15px;
}

.form-container label {
    font-weight: bold;
    font-size: 20px; 
    margin-bottom: 5px;
}

.form-container input {
    padding: 10px;
    border: 1px solid var(--gray_color);
    border-radius: 5px;
    width: 100%;
    font-size: 20px; 
}

button {
    background-color: var(--button_color);
    color: var(--white_color);
    padding: 8px 25px;
    margin: 15px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45632e  ;
}

.form-container-2 {
    margin-bottom: 15px;
}

.form-container-2>label {
    margin: 8px 0;
}

.form-container-2 > input[type=text]:focus {
    border: 1px solid;
  }